{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{% static 'css/mystyles.css' %}" rel="stylesheet" type="text/css">
    <title>Help a pup</title>
</head>
<body>
  <!-- Jumbotron -->
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="header">Welcome to helpapup</h1>
            <p class="flow-text">Find dogs near you looking for adoption</p>
            <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s4">
                      <input id="search" type="text" class="validate">
                      <label for="search">Search by postcode</label>
                      <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                    </div>
                  </div>
                  <a class="waves-effect waves-light btn btn-large">Login</a>
                  <a class="waves-effect waves-light btn btn-large">Create an account</a>
                </form>
              </div>
        </div>
        <div class="container">
            <h1>Helpapup</h1>
        </div>
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>